*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
body{
  background: #1E1E1F;
}
.title{
  color: #fff;
  font-size: 150px;
  text-align: center;
  text-shadow: 3px 3px 0px #D94D3F;
}
/*=============BOTÕES===============*/
.botao{
  padding: 5px 20px;
  background: #1E1E1F;
  border: 2px solid #D94D3F;
  border-radius: 30px;

  text-decoration: none;
  font-size: 50px;
  color: #D94D3F;
  margin: 200px 10px 0 0;
  cursor: pointer;
}
.botao:hover{
  color: #1E1E1F;
  background: #D94D3F;
}

.botoes{
  width: 500px;
  margin: auto;
}
/*============= FOOTER =============*/
.footer{
  color: #D94D3F;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.footer a{
  color: #D94D3F;
  font-weight: bold;
}


/*============= LIGHTBOX ===========*/
.lightbox{
  text-align: center;
  color: #fff;

  display: none;
  background: #D94D3F;
  width: 500px;
  height: 500px;
  box-shadow: 0px 0px 5px #000;
}
.lightbox p{
  font-size: 20px;
  color: #1E1E1F;
  padding: 10px;
}

.lightbox a{
  color: #fff;
}
.logo{
  color: #1E1E1F;
  font-size: 100px;
}
/*============BOTÃO FECHAR===========*/
.close-button{
  position: absolute;
  top: 5px;
  right: 10px;
  
  cursor: pointer;
}
